.main-container {
  vertical-align: middle;
  padding: 5rem;
}

.starwars-font {
  font-family: "STARWARS";
}

.main-title {
  text-align: center;
}

.card-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-scroll {
  margin:4px, 4px;
  padding:1px;
  height: 6rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.image-style {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.con-title {
  background-color: black;
  border-radius: 1rem;
  text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  width: auto;
  background: url("./static/images/stars-far.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.con-style {
  margin-top: 2rem;
  height: auto;
}

.title-banner {
  color: #15f2fd;
}

.text-center {
  text-align: center;
  padding: 0.4rem;
}

.card-body-style {
  background-color: rgb(195, 219, 217, 0.5);
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
}




